.pageWrapper {
  display: flex;
  height: calc(100vh - 64px);
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar {
  width: 380px;
}

.main {
  width: calc(100% - 380px);
  background-color: #f1f5f9;
  border-left: 1px solid #f0f0f0;
  padding: 92px 48px 48px;
}

.menuList {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    padding: 20px 32px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    column-gap: 10px;
    transition: all ease .2s;

    &:first-child {
      border-top: 1px solid #f0f0f0;
    }

    &:hover {
      cursor: pointer;
      background-color: #f1f5f9;
      transition: all ease .2s;
    }

    :global {
      .MuiSvgIcon-root {
        color: #94a3b8 !important;
        position: relative;
        bottom: 5px;
        transition: all ease .2s;
      }
    }

    div {
      h2 {
        color: #1e293b;
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: 500;
        transition: all ease .2s;
      }

      p {
        color: #647488;
        font-size: 13px;
        margin-bottom: 0;
        line-height: 1.5;
      }
    }

    &.active {
      background-color: #fffbeb;
      transition: all ease .2s;

      :global {
        .MuiSvgIcon-root {
          color: #f59e0b !important;
          transition: all ease .2s;
        }
      }

      div {
        h2 {
          color: #f59e0b;
          transition: all ease .2s;
        }
      }
    }
  }
}