.mainLayoutWrapper {
  display: flex;
  height: 100vh;
}

.logoContainer {
  margin-bottom: 0;

  img {
    width: 38px;
    height: 32px;
    object-fit: cover;
    object-position: 0 0;
  }
}

.topSidebarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 40px;
}

.userAvatarWrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.65);
  transition: all ease 0.2s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: all ease 0.2s;
  }

  .anticon {
    color: #94a3b8;
    font-size: 20px;
  }
}

.fixedHeader {
  transition: width ease 0.2s;
  height: 64px;
  background-color: #fff;
  border-bottom: 1px solid rgb(237, 242, 247);
  box-shadow: rgba(69, 129, 194, 0.15) 0 0 20px;
  padding: 0 32px 0 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.pageContentWrapper {
  height: calc(100vh - 64px);
  overflow-x: hidden;
  overflow-y: auto;
}

.userInfoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 40px;

  .img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .caption {
    margin-top: 24px;

    p {
      margin: 0;

      &:first-child {
        font-size: 14px;
        color: white;
      }

      &:last-child {
        margin-top: 5px;
        color: #94a3b8;
        font-size: 13px;
      }
    }
  }
}

.mainSidebarWrapper {
  width: 280px;
  background-color: #0f172a;
  padding: 16px 0 24px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: width ease 0.2s;
  position: relative;
  z-index: 1;

  &.collapsed {
    width: 0;
  }
}

.mainPageContentWrapper {
  width: calc(100% - 280px);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  transition: width ease 0.2s;

  &.collapsed {
    width: 100%;
  }
}