.wrapper {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .03);
  margin-bottom: 30px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--border-color);
  position: relative;

  .formRow {
    display: flex;
    column-gap: 15px;
    align-items: flex-end;
  }
}