.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 100%;
  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  position: relative;
  margin: 0;
  z-index: 3;
  padding: 0 10px;
  animation: jump 1s;
  animation-fill-mode: forwards;

  &:nth-of-type(1) {
    animation: jump 1s ease-in-out alternate 0.05s infinite;
  }

  &:nth-of-type(2) {
    animation: jump 1s ease-in-out alternate 0.1s infinite;
  }

  &:nth-of-type(3) {
    animation: jump 1s ease-in-out alternate 0.15s infinite;
  }

  &:nth-of-type(4) {
    animation: jump 1s ease-in-out alternate 0.2s infinite;
  }

  &:nth-of-type(5) {
    animation: jump 1s ease-in-out alternate 0.25s infinite;
  }
}

.dot {
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-primary);
}

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0);
  }

  90% {
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: translate3d(0, -200%, 0);
  }
}
