* {
  font-family: Manrope, sans-serif !important;
  font-weight: 500;
}

.tablePageWrapper {
  padding: 0 32px 32px;
}

.actionMenuIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  transition: all ease .3s;
  color: var(--table-heading-color);

  &:hover {
    background-color: rgba(0, 0, 0, .05);
    transition: all ease .3s;
    cursor: pointer;
  }
}

/** Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(0 0 0 / 5%);
  box-shadow: inset -0.5px 0 0 rgb(0 0 0 / 7%), inset -1px 0 0 rgb(0 0 0 / 2%),
  inset 1px 0 0 rgb(0 0 0 / 2%), inset 0.5px 0 0 rgb(0 0 0 / 7%);
}

::-webkit-scrollbar-thumb {
  background: darken(#a9a9a9, 1%);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: darken(#a9a9a9, 10%);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--text-light-color) transparent;
}

/** Quill Editor */
.ql-toolbar.ql-snow {
  padding: 10px 24px !important;
  border-top: 1px solid var(--border-color) !important;
  border-bottom: 1px solid var(--border-color) !important;
  border-left: none !important;
  border-right: none !important;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background: white;
}

.ql-container.ql-snow {
  border-color: var(--border-color) !important;
}

.ql-editor {
  padding: 32px !important;
  min-height: 200px;

  p {
    font-size: 14px;
  }
}

.ql-active {
  .ql-stroke {
    stroke: var(--color-primary) !important;
  }

  .ql-fill {
    fill: var(--color-primary) !important;
  }
}

.ql-formats {
  button, .ql-picker-label, .ql-picker-item, .ql-picker-label {
    &:hover {
      color: var(--color-primary) !important;

      .ql-stroke {
        stroke: var(--color-primary) !important;
      }

      .ql-fill {
        fill: var(--color-primary) !important;
      }
    }
  }

  .ql-html {
    position: relative;

    &:before {
      display: block;
      content: '</>';
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 12px;
    }
  }
}

/** Progress bar */
#nprogress {
  .bar {
    height: 4px !important;
    background: #9f7e15 !important;
  }

  .peg {
    box-shadow: 0 0 10px #9f7e15, 0 0 5px #9f7e15 !important;
  }

  .spinner-icon {
    border-top-color: #9f7e15 !important;
    border-left-color: #9f7e15 !important;
  }
}

/** Antd Global Config */
.user-menu-dropdown {
  .ant-dropdown-menu-item {
    padding: 12px !important;

    svg {
      font-size: 20px !important;
    }

    &:not(.ant-dropdown-menu-item-danger) {
      color: rgba(0, 0, 0, .87) !important;

      svg {
        fill: rgba(0, 0, 0, .87) !important;
      }
    }
  }
}

.ant-menu-item:active, .ant-menu-submenu-title:active, .ant-menu-item-selected {
  background-color: #2c3344 !important;
}

.ant-menu {
  background-color: transparent !important;

  .ant-menu-item-group-title {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: bold;
    white-space: nowrap;
  }

  .ant-menu-item {
    margin: 4px 12px;
    width: calc(100% - 24px);
    padding: 10px 16px !important;
    line-height: 1.5;
    height: auto;

    .ant-menu-item-icon {
      font-size: 20px !important;
    }

    .ant-menu-title-content {
      font-size: 13px !important;
    }
  }
}

.ant-table-wrapper {
  .ant-table-thead {
    .ant-table-cell {
      border-top: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
      color: var(--table-heading-color);

      &:first-child {
        padding-left: 32px;
        border-left: 1px solid var(--border-color);
      }

      &:last-child {
        padding-right: 32px;
        border-right: 1px solid var(--border-color);
      }
    }
  }

  .ant-table-tbody {
    .ant-table-row {
      td {
        border-bottom: 1px solid var(--border-color);

        &:first-child {
          padding-left: 32px;
        }

        &:last-child {
          padding-right: 32px;
        }
      }
    }
  }

  .ant-table-pagination {
    background-color: #f8fafc;
    margin: 0 !important;
    padding: 16px;
    border: 1px solid var(--border-color);
    border-top: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.ant-modal-header {
  margin-bottom: 24px !important;
}

.ant-typography {
  margin-bottom: 0 !important;
}

.ant-tag {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-modal-confirm-title {
  overflow: visible;
}

.ant-modal-confirm-heading {
  display: flex;
  align-items: center;
  column-gap: 5px;

  svg {
    position: relative;
    left: -2px;

    &.icon-danger {
      color: var(--color-danger);
    }
  }

  span {
    font-size: 14px;
  }
}

.ant-modal-confirm-content {
  font-size: 13px !important;
}

.ant-modal-confirm-btns {
  margin-top: 16px !important;

  .ant-btn-dangerous {
    background: var(--color-danger);
    color: white;
    transition: all ease .3s;

    &:hover {
      color: white !important;
      opacity: .8;
      transition: all ease .3s;
    }
  }

  .ant-btn {
    &:first-child {
      border-color: transparent !important;
      box-shadow: none !important;
      transition: all ease .3s;

      &:hover {
        color: rgba(0, 0, 0, 0.88) !important;
        background-color: rgba(0, 0, 0, 0.06);
        transition: all ease .3s;
      }
    }
  }
}