.buttonRow {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 16px 32px;
}

.formRow {
  padding: 0 32px;
  display: flex;
  gap: 32px;
}

.formCol {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.thumbnailContainer {
  display: block;
  text-align: center;
  padding: 10px;
  position: relative;
  &:before {
    display: block;
    content: '';
    transition: all ease .3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
  }
  &:hover {
    cursor: pointer;
    &:before {
      opacity: 1;
      visibility: visible;
      transition: all ease .3s;
    }
  }
  img {
    max-width: 100%;
    height: 65px;
    width: auto;
  }
}

.uploadText {
  font-weight: 500;
  margin-bottom: 0;
  font-size: 14px;
}

.uploadCaption {
  font-size: 13px;
  color: var(--text-light-color);
}

.uploadIcon {
  color: var(--color-primary);
}