.pageHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;

  h1 {
    font-size: 24px;
    color: #1e293b;
    font-weight: 700;
    margin-bottom: 0;
  }
}