.authLayoutWrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.authFormWrapper {
  width: 50%;
  padding: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.formContent {
  max-width: 320px;
  flex: 1;
}

.logoContainer {
  margin-bottom: 20px;

  img {
    width: 60px;
    height: 50px;
    object-fit: cover;
    object-position: 0 0;
  }
}

.welcomeBanner {
  position: relative;
  width: 50%;
  background-color: #f3f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 112px;

  svg {
    position: absolute;
    opacity: 0.25;

    &.circle {
      inset: 0;
    }

    &.dots {
      top: 0;
      right: 0;
      transform: translate(30%, -30%);
    }
  }
}

.formHeading {
  color: #1e293b;
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 5px;
}

.formSubHeading {
  font-size: 14px;
  margin-bottom: 30px;

  span {
    color: var(--color-primary);
    cursor: pointer;
  }
}