.buttonRow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
  margin-top: 15px;
}

.uploadText {
  font-size: 14px;
  margin: 0;
  padding: 0 15px;
}

.uploadIcon {
  color: var(--color-primary);
}