.pageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 60px;
}

.buttonRow {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}